#container {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
	overflow: hidden;
}

#business {
	float: left;
	width: 400px;
	border: 1px solid #000000;
	height:400px;
	margin: 2px;
}

#entertainment {
	height:400px;
	float: left;
	width: 400px;
	border: 1px solid #000000;
	margin: 2px;
}

#gaming {
	height:400px;
	float: left;
	width: 400px;
	border: 1px solid #000000;
	margin: 2px;
}

#lifestyle {
	clear: both;
	height:400px;
	float: left;
	width: 400px;
	border: 1px solid #000000;
	margin: 2px;	
}

#offbeat {
	height:400px;
	float: left;
	width: 400px;
	border: 1px solid #000000;
	margin: 2px;
}